BankGUI/xml-resources/web-service-references/CustomerWebService/wsdl/localhost_8080/BankServer/CustomerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://BankService.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://BankService.com/" name="CustomerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://BankService.com/" schemaLocation="http://localhost:8080/BankServer/CustomerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getCustomerName">
<part name="parameters" element="tns:getCustomerName"/>
</message>
<message name="getCustomerNameResponse">
<part name="parameters" element="tns:getCustomerNameResponse"/>
</message>
<message name="getCurrentCusAccNo">
<part name="parameters" element="tns:getCurrentCusAccNo"/>
</message>
<message name="sendAllStringDetails">
<part name="parameters" element="tns:sendAllStringDetails"/>
</message>
<message name="sendAllStringDetailsResponse">
<part name="parameters" element="tns:sendAllStringDetailsResponse"/>
</message>
<message name="sendCusAccNo">
<part name="parameters" element="tns:sendCusAccNo"/>
</message>
<message name="sendCusAccNoResponse">
<part name="parameters" element="tns:sendCusAccNoResponse"/>
</message>
<message name="setCustomerBD">
<part name="parameters" element="tns:setCustomerBD"/>
</message>
<message name="setCustomerBDResponse">
<part name="parameters" element="tns:setCustomerBDResponse"/>
</message>
<message name="getAllCustomersDetails">
<part name="parameters" element="tns:getAllCustomersDetails"/>
</message>
<message name="getAllCustomersDetailsResponse">
<part name="parameters" element="tns:getAllCustomersDetailsResponse"/>
</message>
<message name="setBalance">
<part name="parameters" element="tns:setBalance"/>
</message>
<message name="setBalanceResponse">
<part name="parameters" element="tns:setBalanceResponse"/>
</message>
<message name="setSortCode">
<part name="parameters" element="tns:setSortCode"/>
</message>
<message name="setSortCodeResponse">
<part name="parameters" element="tns:setSortCodeResponse"/>
</message>
<portType name="CustomerWebService">
<operation name="getCustomerName">
<input wsam:Action="http://BankService.com/CustomerWebService/getCustomerNameRequest" message="tns:getCustomerName"/>
<output wsam:Action="http://BankService.com/CustomerWebService/getCustomerNameResponse" message="tns:getCustomerNameResponse"/>
</operation>
<operation name="getCurrentCusAccNo">
<input wsam:Action="http://BankService.com/CustomerWebService/getCurrentCusAccNo" message="tns:getCurrentCusAccNo"/>
</operation>
<operation name="sendAllStringDetails">
<input wsam:Action="http://BankService.com/CustomerWebService/sendAllStringDetailsRequest" message="tns:sendAllStringDetails"/>
<output wsam:Action="http://BankService.com/CustomerWebService/sendAllStringDetailsResponse" message="tns:sendAllStringDetailsResponse"/>
</operation>
<operation name="sendCusAccNo">
<input wsam:Action="http://BankService.com/CustomerWebService/sendCusAccNoRequest" message="tns:sendCusAccNo"/>
<output wsam:Action="http://BankService.com/CustomerWebService/sendCusAccNoResponse" message="tns:sendCusAccNoResponse"/>
</operation>
<operation name="setCustomerBD">
<input wsam:Action="http://BankService.com/CustomerWebService/setCustomerBDRequest" message="tns:setCustomerBD"/>
<output wsam:Action="http://BankService.com/CustomerWebService/setCustomerBDResponse" message="tns:setCustomerBDResponse"/>
</operation>
<operation name="getAllCustomersDetails">
<input wsam:Action="http://BankService.com/CustomerWebService/getAllCustomersDetailsRequest" message="tns:getAllCustomersDetails"/>
<output wsam:Action="http://BankService.com/CustomerWebService/getAllCustomersDetailsResponse" message="tns:getAllCustomersDetailsResponse"/>
</operation>
<operation name="setBalance">
<input wsam:Action="http://BankService.com/CustomerWebService/setBalanceRequest" message="tns:setBalance"/>
<output wsam:Action="http://BankService.com/CustomerWebService/setBalanceResponse" message="tns:setBalanceResponse"/>
</operation>
<operation name="setSortCode">
<input wsam:Action="http://BankService.com/CustomerWebService/setSortCodeRequest" message="tns:setSortCode"/>
<output wsam:Action="http://BankService.com/CustomerWebService/setSortCodeResponse" message="tns:setSortCodeResponse"/>
</operation>
</portType>
<binding name="CustomerWebServicePortBinding" type="tns:CustomerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCustomerName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCurrentCusAccNo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="sendAllStringDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendCusAccNo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setCustomerBD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCustomersDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setSortCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerWebService">
<port name="CustomerWebServicePort" binding="tns:CustomerWebServicePortBinding">
<soap:address location="http://localhost:8080/BankServer/CustomerWebService"/>
</port>
</service>
</definitions>